body {
  background-color: #282c34 !important;
  /*background-color: red !important;*/
  text-align: center;
}

.App {
  text-align: center;
  font-family: "Barlow",sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  margin: 0 auto;
  max-width: calc(100% - 275px);
  width: calc(100% - 275px);
}

.ehfErK {
  margin-top: 70px;
  z-index: 100;
  margin: 0 auto;
}
.menu-trig {
  padding-top: 20px;
  padding-bottom: 10px;
  cursor: pointer;
}

.back-o-card-buts {
  min-width: 220px !important;
  margin-top: 30px !important;
}

.big-app {
  max-width: calc(100% - 40px);
  width: calc(100% - 40px);
}

.team-photo {
  max-width: 300px;
  transform: rotate(15deg);
}

.team-photo-holder {
  float: left;
  max-width: 300px;
}

.team-text-holder {
  float: right;
  max-width: 400px;
}

.glow {
  color:#fff;
  text-shadow:5px 5px 10px #fff, 1px 1px 10px #ccc;
  text-align:center;
}
.glow-purp {
  color:#fff;
  text-shadow:5px 5px 10px pink, 1px 1px 10px purple;
  text-align:center;
}

.qr-big {
  z-index: 100;
  position: absolute;
  bottom: -10px;
  left: -450px;
  -webkit-box-shadow: 4px 27px 50px 50px #000000; 
  box-shadow: 4px 27px 50px 50px #000000;
}

.moon-back {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url("./mooney_logo.png");
  background-color: #282c34 !important;
  margin-left: -20px;
  background-size: 370px;
  background-repeat: no-repeat !important;
  background-position: 75% 15%;
}

@media (max-width:1000px) {
  .moon-back {
    background-image: none;
  }
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.icon-image-main {
  width: 150px;
  max-width: 150px;
  margin: 30px;
}

.icon-image-main-roadmap {
  margin-top: 100px;
  width: 1150px;
  max-width: 1150px;
  float: left;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
   /*background-color: #282c34 !important;*/
   /*background-color: red !important;*/
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.admin-label {
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  bottom: 110px;
  right: -50px;
  -webkit-transform: rotate(90deg);
}

.admin-label-sub {
  position: relative;
  z-index: 2;
}

.picture-text {
  display: block;
}

.zoom {
  transition: transform .2s; /* Animation */
  width: 318px;
  box-shadow: 6px -49px 56px 29px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 6px -49px 56px 29px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 6px -49px 56px 29px rgba(0,0,0,0.75) inset;
}

.zoomedIn {
  transform: scale(1.7); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  -webkit-box-shadow: 4px 27px 50px 50px #000000; 
  box-shadow: 4px 27px 50px 50px #000000;
  background-color: black;
  border: 1px solid black;
  border-radius: 40px;
}

.box-behind {
  width: 200px;
  height: 40px;
  position: absolute;
  bottom: 120px;
  right: 149px;
  -webkit-box-shadow: 4px 27px 50px 50px #000000; 
  box-shadow: 4px 27px 50px 50px #000000;
  background-color: black;
  border: 0px solid black;
  border-radius: 70px;
}

.gold-text-right {
  width: 350px;
  float: right;
  margin-top: 130px;
  font-size: 18px;
  text-align: right;
}



.gold-text-right-title {
  font-size: 28px;
}

.gold-image {
  width: 380px;
  float: left;
  margin-top: 30px;
  margin-left: -30px;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.connect-button-holder {
  position: absolute;
  top: 16px;
  right: 22px;
  z-index: 2;
}

.ant-page-header-heading-title {
  margin-right: 12px;
  margin-bottom: 0;
  color: #f6f6f6;
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Barlow",sans-serif;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 25px;
  left: 20px;
  cursor: pointer;
}

.big-app .ant-page-header-heading-title {
  top: 25px;
  left: 10px;

}

.cgpajZ_2 {
  width: 320px;
  height: 400px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(13px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  float: left;
}

.dark-blue {
  color: #00a0d0 !important;
}

.cards-id-text {
  font-size: 16px;
  text-align: left;
  margin-left: 20px;
  margin-top: 18px;
}

.img-holder-expand {
  
}

.front-buy-button {
  z-index: 20;
  position: absolute;
  right: -15px;
  bottom: 150px;
  font-size: 30px !important;
  -webkit-box-shadow: 50px 27px 50px 50px #FF00ED; 
box-shadow: 50px 27px 50px 50px #FF00ED;
}

.front-desc-text {
  z-index: 20;
  position: absolute;
  right: -15px;
  bottom: -30px;
  font-size: 28px !important;
  color: #FFFFFF;
  font-weight: bold;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}



.card-template-main {
  min-height: 561px;
  max-height: 561px;
  margin: 10px;
  cursor: pointer;
}

.pie-holder {
  position: absolute;
  left: 35px;
  top: -52px;
  min-width: 318px;
  min-height: 239px;
}

.card-shell {
 min-width: 1025px;
 max-width: 1025px;
 margin-top: 70px;
 margin-left: calc((100vw - 1325px) / 2);
}

.card-shell-small {
  min-width: 318px;
  max-width: 318px;
  margin-top: 70px;
  margin-left: auto;
 }

/* revert chunked scoped to display pages */
.cgpajZ {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(13px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
}
@media (min-width: 200px){
.cgpajZ {
    padding: 1rem;
}
}
.cmAEMu {
  margin-bottom: 2rem;
}

@media (min-width: 750px){
.iRdocJ {
  font-size: 1rem;
}
}
@media (min-width: 200px){
.iRdocJ {
  font-size: 0.725rem;
}
}



.iRdocJ {
  color: white;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.jEjURK {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(13px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2rem;
}
  
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url(/static/media/roboto-v20-latin-regular.e464241b.eot);
    src: local(""), url(/static/media/roboto-v20-latin-regular.e464241b.eot) format("embedded-opentype"), url(/static/media/roboto-v20-latin-regular.176f8f5b.woff2) format("woff2"), url(/static/media/roboto-v20-latin-regular.49ae34d4.woff) format("woff"), url(/static/media/roboto-v20-latin-regular.127ea449.ttf) format("truetype"), url(/static/media/roboto-v20-latin-regular.4f862c8b.svg) format("svg");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url(/static/media/roboto-v20-latin-500.59a26cdb.eot);
    src: local(""), url(/static/media/roboto-v20-latin-500.59a26cdb.eot) format("embedded-opentype"), url(/static/media/roboto-v20-latin-500.f5b74d7f.woff2) format("woff2"), url(/static/media/roboto-v20-latin-500.cea99d3e.woff) format("woff"), url(/static/media/roboto-v20-latin-500.abcf7cd8.ttf) format("truetype"), url(/static/media/roboto-v20-latin-500.4e7fe004.svg) format("svg");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url(/static/media/roboto-v20-latin-700.ba38a9cf.eot);
    src: local(""), url(/static/media/roboto-v20-latin-700.ba38a9cf.eot) format("embedded-opentype"), url(/static/media/roboto-v20-latin-700.c18ee39f.woff2) format("woff2"), url(/static/media/roboto-v20-latin-700.2267169e.woff) format("woff"), url(/static/media/roboto-v20-latin-700.24b17813.ttf) format("truetype"), url(/static/media/roboto-v20-latin-700.4e7fe004.svg) format("svg");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url(/static/media/roboto-v20-latin-900.f930b75b.eot);
    src: local(""), url(/static/media/roboto-v20-latin-900.f930b75b.eot) format("embedded-opentype"), url(/static/media/roboto-v20-latin-900.870c8c14.woff2) format("woff2"), url(/static/media/roboto-v20-latin-900.bac8362e.woff) format("woff"), url(/static/media/roboto-v20-latin-900.2d00e856.ttf) format("truetype"), url(/static/media/roboto-v20-latin-900.117624e9.svg) format("svg");
  }
  @font-face {
    font-family: "Open Sans";
    line-height: 150%;
    font-style: normal;
    font-weight: 400;
    src: local(""), url(/static/media/open-sans-v18-latin-regular.347639ec.woff) format("woff"), url(/static/media/open-sans-v18-latin-regular.cf6a3454.ttf) format("truetype"), url(/static/media/open-sans-v18-latin-regular.1d0d8b66.svg) format("svg");
  }
  @font-face {
    font-family: "Open Sans";
    line-height: 150%;
    font-style: normal;
    font-weight: 700;
    src: local(""), url(/static/media/open-sans-v18-latin-700.f24f4bce.woff) format("woff"), url(/static/media/open-sans-v18-latin-700.eea87f9e.ttf) format("truetype"), url(/static/media/open-sans-v18-latin-700.926388f0.svg) format("svg");
  }

  p {
    
    line-height: 150%;
  }
  
  ul {
    list-style-type: none;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    margin: 0;
  }
  button {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    text-rendering: optimizeLegibility;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    background-color: transparent;
    margin: 0;
    font-size: 18px;
    padding: 0;
    border: 0;
    border-image: none;
  }
  a, button {
    color: #fff;
    cursor: pointer;
  }
  a, a:visited {
    text-decoration: none;
  }
  main {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 2;
  }
  
  
  @media (max-width:750px) {
    .footer-icon {
    width: 2rem;
  }
  
  
  }#nav-link {
    font-size: 1rem;
    width: 100%;
    background: transparent;
    border: none;
    color: #fff;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #nav-link:before {
    top: 0;
    transform: translateY(10px);
  }
  #nav-link:after, #nav-link:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #00ffc2;
    content: "";
    opacity: 0;
    transition: all .3s;
  }
  #nav-link:after {
    bottom: 0;
    transform: translateY(-10px);
  }
  #nav-link:hover:after, #nav-link:hover:before {
    opacity: 1;
    transform: translateY(0);
  }
  #nav-link__active {
    font-size: 18px;
    width: 100%;
    background: transparent;
    border: none;
    color: #fff;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #nav-link__active:before {
    top: 0;
  }
  #nav-link__active:after, #nav-link__active:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #00ffc2;
    content: "";
    opacity: 1;
    transition: all .3s;
    transform: translateY(0);
  }
  #nav-link__active:after {
    bottom: 0;
  }
  #nav-link__active:hover:after, #nav-link__active:hover:before {
    opacity: 1;
    transform: translateY(0);
  }
  ol {
    margin: 0;
  }
  ol, table td, table th {
    padding: 0;
  }
  .c0 {
    color: #fff;
    font-style: italic;
    vertical-align: baseline;
  }
  .c7, .c10 {
    color: #000;
    text-decoration: none;
    vertical-align: baseline;
  }
  .c6 {
    padding-top: 0;
    padding-bottom: 8pt;
    line-height: 1.0791666666666666;
    orphans: 2;
    widows: 2;
    text-align: center;
  }
  .c1 {
    padding-top: .5rem;
    padding-bottom: .5rem;
    line-height: 150%}
  .c1, .c8 {
    text-align: left;
  }
  .c8 {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1;
  }
  .c4 {
    background-color: #f2f2f2;
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .c9 {
    border: 1px solid #000;
    margin: 5px;
  }
  .c3 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }
  .title {
    padding-top: 24pt;
    color: #000;
    padding-bottom: 6pt;
  }
  .subtitle, .title {
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .subtitle {
    padding-top: 18pt;
    color: #666;
    padding-bottom: 4pt;
  }
  .collection {
    padding: 1rem;
    color: #fff;
  }
  @media (min-width:1200px) {
    .collection-collection {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr 1fr;
    grid-row-gap: 1rem;
    row-gap: 1rem;
  }
  }@media (min-width:1200px) {
    .collection-walletStats {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-column-gap: 1rem;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    margin-bottom: 2rem;
  }
  }.collection-stats {
    width: 100%}
  .collection-rarest {
    grid-row-start: 2;
    grid-column-start: 1;
  }
  .collection-available {
    grid-row-start: 3;
    grid-column-start: 1;
  }
  .collection-bndStats {
    grid-row-start: 4;
    grid-column-start: 1;
  }
  .margin {
    margin-left: 10px;
  }
  .collection-buttonHeader {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .mint-container {
    width: 100vw;
    background: url(/static/media/mint-bg.5726aa1b.svg) no-repeat 50%;
    background-size: cover;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
  }
  .mint-cointainer-front {
    max-width: 800px !important;
    width: 800px;
  }
  

  
  
  .mint-token {
    justify-self: center;
    display: flex;
    align-items: center;
    height: 80%}
  h1 {
    margin-top: 0;
    display: block;
  }
  .mint-numberInput {
    width: 100%}
    input [type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .sc-hjWSAi input {
    text-rendering: auto;
    background: #000;
    color: #fff;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    background-color: transparent;
    cursor: text;
    margin: 0;
    font-size: 22px;
    border: 0;
    border-image: none;
    padding: 12 20px;
  }
  .eeGfwZ {
    display: grid;
    grid-template-columns: 2fr 1fr;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(13px);
    border-radius: 98px;
    border: 3px solid rgba(255, 255, 255, 0);
    padding-right: 1rem;
    padding-left: 1rem;
}
.cgpajZ {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(13px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
}
.iORAaW {
  display: grid;
  grid-template-columns: 2fr 1fr;
  -webkit-box-align: center;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(13px);
  border-radius: 98px;
  border: 3px solid rgba(255, 255, 255, 0);
  padding-right: 1rem;
  padding-left: 1rem;
}
  .primary, input {
    font-family: "Open Sans"}
  .primary {
    background-color: #00ffc2;
    color: #000;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  h3, h4 {
    font-weight: 300;
  }
  h4 {
    font-size: 12px;
    color: #56e2f6;
  }
  
  .lge-chart {
    padding: 2rem;
    background: hsla(0, 0%, 100%, .2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 100%, .18);
    height: 100%}
  .mint-chart {
    margin-left: 1.5rem;
  }
  
  .grey {
    border: .944987px solid #776f90;
  }
  .gem-text {
    text-align: center;
  }
  .singleCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  @media (min-width:750px) {
    .singleCard {
    display: none;
  }
  }.content {
    width: 100vw;
    background: transparent;
    text-align: center;
    padding: 4em 0;
  }
  
  @media (min-width:1200px) {
    .cards {
    width: 50%}
  }.card {
    position: relative;
    perspective: 150em;
    width: 191px;
    height: 339px;
  }
  .card:hover {
    cursor: pointer;
  }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 191px;
    height: 339px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .6s ease;
    box-shadow: 1em 1em 2em rgba(0, 0, 0, .2);
  }
  .card__side--front {
    background-color: transparent;
  }
  .card__side--back {
    color: #fff;
    transform: rotateY(180deg);
  }
  .card:hover .card__side--front {
    transform: rotateY(-180deg);
  }
  .card:hover .card__side--back {
    transform: rotate(0);
  }
  .img-binders {
    width: 191px;
    height: 339px;
  }
  .bigText {
    background: #000;
    width: 100%;
    padding: 5rem 2rem;
  }
  .bigText-border {
   
  }
  .bigText-text {
    color: #fff;
    line-height: 150%;
    width: 100%}
  @media (min-width:200px) {
    .bigText-text {
    font-size: 2rem;
    text-align: center;
  }
  }@media (min-width:1200px) {
    .bigText-text {
    font-size: 32px;
    text-align: left;
    width: 40%}
  }.bigText-regular {
    color: #fff;
    line-height: 150%}
  @media (min-width:200px) {
    .bigText-regular {
    text-align: center;
  }
  }@media (min-width:1200px) {
    .bigText-regular {
    text-align: left;
  }
  }p {
    margin-right: 0;
  }
  .bigText-group {
    width: 100%}
  @media (min-width:1200px) {
    .bigText-group {
    width: 40%}
  }.bigText-shortWidth {
    position: relative;
    border: 4px solid #f90;
    padding: 2rem;
  }
  @media (min-width:200px) {
    .bigText-shortWidth {
    width: 100%;
    
  }
  }@media (min-width:750px) {
    .bigText-shortWidth {
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 90%}
  }@media (min-width:1200px) {
    .bigText-shortWidth {
   
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 64px;
    padding-left: 64px;
  }
  }.center-mobile__only {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1rem;
  }

  .width {
    width: 100%}
  h1 {
    font-family: "Roboto";
    color: #fff;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  @media (min-width:200px) {
    h1 {
    font-size: 1.25rem;
  }
  }@media (min-width:750px) {
    h1 {
    font-size: 2rem;
  }
  }
  @media (min-width:750px) {
    .mint-cointainer-front {
      display: block;
    }
    .just-chart{
      display: none;
    }
    .ant-page-header-heading-title {
      margin-bottom: 0;
      color: #f6f6f6;
      font-weight: 600;
      font-size: 30px;
      line-height: 42px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-family: "Barlow",sans-serif;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      cursor: pointer;
  }
  .team-big {
    display: none;
  }
}

.toot-holder{
  position: absolute;
  width: 60px;
  top: 25px;
  left: 137px;
}
.toot-img{
  width: 60px;
}
.bjNVbG {
  margin-top: 15px;
}




  @media (max-width:750px) {
    .gold-image {
      clear: both;
    text-align: center;
    margin: 0 auto;
    }
    .gold-text-right {
      width: 350px;
      margin-top: 0px;
      /* margin-top: 130px; */
      font-size: 16px;
      text-align: right;
  }
  .gold-text-right-title {
    font-size: 24px;
}
.big-app {
  max-width: calc(100% - 10px);
  width: calc(100% - 10px);
}
    
    .ant-page-header-heading-title {
      margin-bottom: 0;
      color: #f6f6f6;
      font-weight: 600;
      font-size: 30px;
      line-height: 42px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-family: "Barlow",sans-serif;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      top: 3px;
      left: -105px;
      cursor: pointer;
  }
  .icon-image-main-roadmap {
    margin-top: 100px;
    width: 600px;
    max-width: 600px;
    float: left;
  }
  .team-text-holder-small {
    max-width: 200px;
  }
  .team-photo-holder-small {
    display: block;
  }
  .mint-cointainer-front {
    display: none;
  }
  .just-chart{
    display: block;
  }
  .menu-trig {
    padding-top: 13px;
  }
  .connect-button-holder {
    position: absolute;
    top: 26px;
    right: -5px;
    z-index: 2;
}
    .picture-text {display: none;}
   
  }
  
  


/*# sourceMappingURL=main.1b33ca71.chunk.css.map */
