body {
  background-color: #282c34 !important;
  /*background-color: red !important;*/
  text-align: center;
}

.App {
  text-align: center;
  font-family: "Barlow",sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  margin: 0 auto;
  max-width: calc(100% - 275px);
  width: calc(100% - 275px);
}

.back-o-card-buts {
  min-width: 220px !important;
  margin-top: 30px !important;
}

.big-app {
  max-width: calc(100% - 40px);
  width: calc(100% - 40px);
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
   background-color: #282c34 !important;
   /*background-color: red !important;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.admin-label {
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  bottom: 110px;
  right: -50px;
  -webkit-transform: rotate(90deg);
}

.admin-label-sub {
  position: relative;
  z-index: 2;
}

.picture-text {
  display: block;
}

.zoom {
  transition: transform .2s; /* Animation */
  width: 318px;
  height: 239px;
}

.zoomedIn {
  transform: scale(1.7); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.gold-text-right {
  width: 350px;
  float: right;
  margin-top: 130px;
  font-size: 18px;
  text-align: right;
}

.gold-text-right-title {
  font-size: 28px;
}

.gold-image {
  width: 380px;
  float: left;
  margin-top: 30px;
  margin-left: -30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.connect-button-holder {
  position: absolute;
  top: 16px;
  right: 22px;
  z-index: 2;
}

.ant-page-header-heading-title {
  margin-right: 12px;
  margin-bottom: 0;
  color: #f6f6f6;
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Barlow",sans-serif;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 20px;
  left: 20px;
}

.cgpajZ_2 {
  width: 320px;
  height: 400px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(13px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  float: left;
}

.dark-blue {
  color: #00a0d0 !important;
}

.cards-id-text {
  font-size: 16px;
  text-align: left;
  margin-left: 20px;
  margin-top: 18px;
}

.card-template-main {
  min-height: 465px;
  max-height: 465px;
  margin: 10px;
  cursor: pointer;
}

.pie-holder {
  position: absolute;
  left: 35px;
  top: -52px;
  min-width: 318px;
  min-height: 239px;
}

.card-shell {
 min-width: 1025px;
 max-width: 1025px;
 margin-top: 70px;
 margin-left: calc((100vw - 1325px) / 2);
}

/* revert chunked scoped to display pages */
.cgpajZ {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(13px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
}
@media (min-width: 200px){
.cgpajZ {
    padding: 1rem;
}
}
.cmAEMu {
  margin-bottom: 2rem;
}

@media (min-width: 750px){
.iRdocJ {
  font-size: 1rem;
}
}
@media (min-width: 200px){
.iRdocJ {
  font-size: 0.725rem;
}
}



.iRdocJ {
  color: white;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.jEjURK {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(13px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2rem;
}
  
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url(/static/media/roboto-v20-latin-regular.e464241b.eot);
    src: local(""), url(/static/media/roboto-v20-latin-regular.e464241b.eot) format("embedded-opentype"), url(/static/media/roboto-v20-latin-regular.176f8f5b.woff2) format("woff2"), url(/static/media/roboto-v20-latin-regular.49ae34d4.woff) format("woff"), url(/static/media/roboto-v20-latin-regular.127ea449.ttf) format("truetype"), url(/static/media/roboto-v20-latin-regular.4f862c8b.svg) format("svg");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url(/static/media/roboto-v20-latin-500.59a26cdb.eot);
    src: local(""), url(/static/media/roboto-v20-latin-500.59a26cdb.eot) format("embedded-opentype"), url(/static/media/roboto-v20-latin-500.f5b74d7f.woff2) format("woff2"), url(/static/media/roboto-v20-latin-500.cea99d3e.woff) format("woff"), url(/static/media/roboto-v20-latin-500.abcf7cd8.ttf) format("truetype"), url(/static/media/roboto-v20-latin-500.4e7fe004.svg) format("svg");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url(/static/media/roboto-v20-latin-700.ba38a9cf.eot);
    src: local(""), url(/static/media/roboto-v20-latin-700.ba38a9cf.eot) format("embedded-opentype"), url(/static/media/roboto-v20-latin-700.c18ee39f.woff2) format("woff2"), url(/static/media/roboto-v20-latin-700.2267169e.woff) format("woff"), url(/static/media/roboto-v20-latin-700.24b17813.ttf) format("truetype"), url(/static/media/roboto-v20-latin-700.4e7fe004.svg) format("svg");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url(/static/media/roboto-v20-latin-900.f930b75b.eot);
    src: local(""), url(/static/media/roboto-v20-latin-900.f930b75b.eot) format("embedded-opentype"), url(/static/media/roboto-v20-latin-900.870c8c14.woff2) format("woff2"), url(/static/media/roboto-v20-latin-900.bac8362e.woff) format("woff"), url(/static/media/roboto-v20-latin-900.2d00e856.ttf) format("truetype"), url(/static/media/roboto-v20-latin-900.117624e9.svg) format("svg");
  }
  @font-face {
    font-family: "Open Sans";
    line-height: 150%;
    font-style: normal;
    font-weight: 400;
    src: local(""), url(/static/media/open-sans-v18-latin-regular.347639ec.woff) format("woff"), url(/static/media/open-sans-v18-latin-regular.cf6a3454.ttf) format("truetype"), url(/static/media/open-sans-v18-latin-regular.1d0d8b66.svg) format("svg");
  }
  @font-face {
    font-family: "Open Sans";
    line-height: 150%;
    font-style: normal;
    font-weight: 700;
    src: local(""), url(/static/media/open-sans-v18-latin-700.f24f4bce.woff) format("woff"), url(/static/media/open-sans-v18-latin-700.eea87f9e.ttf) format("truetype"), url(/static/media/open-sans-v18-latin-700.926388f0.svg) format("svg");
  }

  p {
    
    line-height: 150%;
  }
  
  ul {
    list-style-type: none;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    margin: 0;
  }
  button {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    text-rendering: optimizeLegibility;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    background-color: transparent;
    margin: 0;
    font-size: 18px;
    padding: 0;
    border: 0;
    border-image: none;
  }
  a, button {
    color: #fff;
    cursor: pointer;
  }
  a, a:visited {
    text-decoration: none;
  }
  main {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 2;
  }
  .footer {
    background: #282830;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 5rem;
  }
  @media (min-width:200px) {
    .footer-container {
    display: flex;
  }
  }@media (min-width:1200px) {
    .footer-container {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
  }.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-logoImage {
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 15rem;
  }
  @media (min-width:750px) {
    .footer-logoImage {
    width: 35rem;
  }
  }@media (min-width:1200px) {
    .footer-logoImage {
    width: 25rem;
  }
  }@media (min-width:200px) {
    .footer-copyright {
    font-size: 10px;
  }
  }@media (min-width:750px) {
    .footer-copyright {
    font-size: .752rem;
  }
  }.footer-socials {
    width: 20%;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: space-between;
  }
  @media (min-width:200px) {
    .footer-socials {
    flex-direction: row;
  }
  }@media (min-width:750px) {
    .footer-socials {
    flex-direction: row;
  }
  }.footer-icon {
    width: 1.5rem;
  }
  @media (min-width:750px) {
    .footer-icon {
    width: 2rem;
  }
  }#nav-link {
    font-size: 1rem;
    width: 100%;
    background: transparent;
    border: none;
    color: #fff;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #nav-link:before {
    top: 0;
    transform: translateY(10px);
  }
  #nav-link:after, #nav-link:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #00ffc2;
    content: "";
    opacity: 0;
    transition: all .3s;
  }
  #nav-link:after {
    bottom: 0;
    transform: translateY(-10px);
  }
  #nav-link:hover:after, #nav-link:hover:before {
    opacity: 1;
    transform: translateY(0);
  }
  #nav-link__active {
    font-size: 18px;
    width: 100%;
    background: transparent;
    border: none;
    color: #fff;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #nav-link__active:before {
    top: 0;
  }
  #nav-link__active:after, #nav-link__active:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #00ffc2;
    content: "";
    opacity: 1;
    transition: all .3s;
    transform: translateY(0);
  }
  #nav-link__active:after {
    bottom: 0;
  }
  #nav-link__active:hover:after, #nav-link__active:hover:before {
    opacity: 1;
    transform: translateY(0);
  }
  ol {
    margin: 0;
  }
  ol, table td, table th {
    padding: 0;
  }
  .c0 {
    color: #fff;
    font-style: italic;
    vertical-align: baseline;
  }
  .c7, .c10 {
    color: #000;
    text-decoration: none;
    vertical-align: baseline;
  }
  .c6 {
    padding-top: 0;
    padding-bottom: 8pt;
    line-height: 1.0791666666666666;
    orphans: 2;
    widows: 2;
    text-align: center;
  }
  .c1 {
    padding-top: .5rem;
    padding-bottom: .5rem;
    line-height: 150%}
  .c1, .c8 {
    text-align: left;
  }
  .c8 {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1;
  }
  .c4 {
    background-color: #f2f2f2;
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .c9 {
    border: 1px solid #000;
    margin: 5px;
  }
  .c3 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }
  .title {
    padding-top: 24pt;
    color: #000;
    padding-bottom: 6pt;
  }
  .subtitle, .title {
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .subtitle {
    padding-top: 18pt;
    color: #666;
    padding-bottom: 4pt;
  }
  .collection {
    padding: 1rem;
    color: #fff;
  }
  @media (min-width:1200px) {
    .collection-collection {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr 1fr;
    grid-row-gap: 1rem;
    row-gap: 1rem;
  }
  }@media (min-width:1200px) {
    .collection-walletStats {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-column-gap: 1rem;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    margin-bottom: 2rem;
  }
  }.collection-stats {
    width: 100%}
  .collection-rarest {
    grid-row-start: 2;
    grid-column-start: 1;
  }
  .collection-available {
    grid-row-start: 3;
    grid-column-start: 1;
  }
  .collection-bndStats {
    grid-row-start: 4;
    grid-column-start: 1;
  }
  .margin {
    margin-left: 10px;
  }
  .collection-buttonHeader {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .mint-container {
    width: 100vw;
    background: url(/static/media/mint-bg.5726aa1b.svg) no-repeat 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
  }
  .mint-cointainer-front {
    max-width: 800px !important;
    width: 800px;
  }
  @media (min-width:1200px) {
    .mint-container {
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  }.mint-centerContainer {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(-webkit-min-content, 4);
    grid-template-rows: repeat(min-content, 4);
    grid-gap: 1rem;
  }
  .mint-cointainer-front {
    max-width: 800px !important;
    width: 800px;
  }
  .mint-centerContainer-front{
    padding-right: 0px !important;
    padding-left: 0px !important;
    grid-template-columns: 1fr 1fr !important;
  }

  
  @media (min-width:750px) {
    .mint-centerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: -webkit-min-content -webkit-min-content 1fr -webkit-min-content;
    grid-template-rows: min-content min-content 1fr min-content;
    width: 85%}
  }@media (min-width:1200px) {
    .mint-centerContainer {
    max-width: 1440px;
    padding-right: 64px;
    padding-left: 64px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content;
    grid-column-gap: 2rem;
    -webkit-column-gap: 2rem;
    column-gap: 2rem;
    grid-row-gap: 2rem;
    row-gap: 2rem;
    justify-items: stretch;
    align-items: stretch;
    margin-bottom: 3rem;
  }
  .mint-centerContainer-front{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  }.mint-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  @media (min-width:750px) {
    .mint-wrapper {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  }@media (min-width:1200px) {
    .mint-wrapper {
    height: 100%;
    margin-top: 0;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: flex-start;
  }
  }.mint-token {
    justify-self: center;
    display: flex;
    align-items: center;
    height: 80%}
  h1 {
    margin-top: 0;
    display: block;
  }
  .mint-numberInput {
    width: 100%}
    input [type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .sc-hjWSAi input {
    text-rendering: auto;
    background: #000;
    color: #fff;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    background-color: transparent;
    cursor: text;
    margin: 0;
    font-size: 22px;
    border: 0;
    border-image: none;
    padding: 12 20px;
  }
  .eeGfwZ {
    display: grid;
    grid-template-columns: 2fr 1fr;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(13px);
    border-radius: 98px;
    border: 3px solid rgba(255, 255, 255, 0);
    padding-right: 1rem;
    padding-left: 1rem;
}
.cgpajZ {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(13px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
}
.iORAaW {
  display: grid;
  grid-template-columns: 2fr 1fr;
  -webkit-box-align: center;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(13px);
  border-radius: 98px;
  border: 3px solid rgba(255, 255, 255, 0);
  padding-right: 1rem;
  padding-left: 1rem;
}
  .primary, input {
    font-family: "Open Sans"}
  .primary {
    background-color: #00ffc2;
    color: #000;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  h3, h4 {
    font-weight: 300;
  }
  h4 {
    font-size: 12px;
    color: #56e2f6;
  }
  .mint-helper {
    justify-items: end;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: auto 1fr 1fr;
    grid-column-gap: 1rem;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    grid-row-gap: .5rem;
    row-gap: .5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 100%;
    width: 100%}
  @media (min-width:200px) {
    .mint-tokenImage {
    display: none;
  }
  }@media (min-width:750px) {
    .mint-tokenImage {
    display: inline-block;
    margin-right: 16px;
  }
  }.mint-stats {
    width: calc(100% - 2rem);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 1rem;
    row-gap: 1rem;
    grid-column-gap: 1rem;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    margin-bottom: 1rem;
  }
  @media (min-width:750px) {
    .mint-stats {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    align-items: stretch;
    justify-content: stretch;
  }
  }@media (min-width:1200px) {
    .mint-stats {
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%}
  }.progress {
    align-self: center;
  }
  @media (min-width:750px) {
    .progress {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
  }
  }@media (min-width:1200px) {
    .progress {
    margin-top: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
  }
  }.mint-cardGroup {
    flex-direction: column;
    height: 80%}
  .mint-cardGroup, .mint-chartWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%}
  .mint-chartWrapper {
    margin-top: 5rem;
    height: 100%;
    background: #28282f;
  }
  .mint-imgWrapper {
    height: 100%;
    width: 100%}
  .mint-charts {
    margin-top: 3rem;
    width: calc(100% - 2rem);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1rem;
    row-gap: 1rem;
  }
  @media (min-width:750px) {
    .mint-charts {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
  }
  }@media (min-width:1200px) {
    .mint-charts {
    margin-top: 0;
    grid-column-start: 3;
    grid-row-start: 2;
    width: 100%;
    text-align: center;
  }
  }.algin {
    align-self: center;
    justify-self: center;
  }
  .lge-chart {
    padding: 2rem;
    background: hsla(0, 0%, 100%, .2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 100%, .18);
    height: 100%}
  .mint-chart {
    margin-left: 1.5rem;
  }
  @media (min-width:750px) {
    .mint-chart {
    margin-top: 2rem;
  }
  }@media (min-width:1200px) {
    .mint-chart {
    margin-left: 0;
  }
  }.mint-balances {
    width: 100%}
  @media (min-width:200px) {
    .mint-balances {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1rem;
    row-gap: 1rem;
  }
  }@media (min-width:750px) {
    .mint-balances {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
  }
  }@media (min-width:1200px) {
    .mint-balances {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    display: grid;
    grid-template-rows: -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    row-gap: 2rem;
  }
  }.mint-raise {
    width: 100%}
  @media (min-width:200px) {
    .mint-raise {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1rem;
    row-gap: 1rem;
  }
  }@media (min-width:750px) {
    .mint-raise {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
  }
  }@media (min-width:1200px) {
    .mint-raise {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    -webkit-column-gap: 2rem;
    column-gap: 2rem;
  }
  }.mint-leftside, .tokens-minted {
    width: 100%}
  @media (min-width:200px) {
    .mint-leftside {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1rem;
    row-gap: 1rem;
  }
  }@media (min-width:750px) {
    .mint-leftside {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  }@media (min-width:1200px) {
    .mint-leftside {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: repeat(3, -webkit-min-content);
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    row-gap: 2rem;
  }
  }.mobile-landing {
    width: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsla(0, 0%, 100%, .2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 100%, .18);
  }
  @media (min-width:750px) {
    .mobile-landing {
    display: none;
  }
  }.mobile-buttonGroup {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-video__center {
    margin-bottom: 2rem;
  }
  @media (min-width:200px) {
    .home-video__center {
    width: 100%}
  }@media (min-width:1200px) {
    .home-video__center {
    width: 100%}
  }.hero-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-logo {
    z-index: 2;
  }
  @media (min-width:200px) {
    .home-logo {
    width: 100%;
    margin-bottom: -1rem;
  }
  }@media (min-width:1200px) {
    .home-logo {
    width: 60%;
    margin-bottom: -2rem;
  }
  }.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.23%;
    height: 0;
  }
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%}
  .home-cardGems {
    display: none;
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media (min-width:1200px) {
    .home-cardGems {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 64px;
    padding-left: 64px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1rem;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    justify-items: center;
  }
  }.square-outer {
    background: #282830;
    padding: 1rem;
    margin-bottom: 24px;
  }
  @media (min-width:200px) {
    .square-outer {
    width: 150px;
    height: 150px;
  }
  }@media (min-width:1200px) {
    .square-outer {
    width: 200px;
    height: 200px;
  }
  }.purple {
    border: 1px solid #c173ff;
  }
  .square {
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grey {
    border: .944987px solid #776f90;
  }
  .gem-text {
    text-align: center;
  }
  .singleCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  @media (min-width:750px) {
    .singleCard {
    display: none;
  }
  }.content {
    width: 100vw;
    background: transparent;
    text-align: center;
    padding: 4em 0;
  }
  @media (min-width:200px) {
    .cards {
    display: none;
  }
  }@media (min-width:750px) {
    .cards {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  }@media (min-width:1200px) {
    .cards {
    width: 50%}
  }.card {
    position: relative;
    perspective: 150em;
    width: 191px;
    height: 339px;
  }
  .card:hover {
    cursor: pointer;
  }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 191px;
    height: 339px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .6s ease;
    box-shadow: 1em 1em 2em rgba(0, 0, 0, .2);
  }
  .card__side--front {
    background-color: transparent;
  }
  .card__side--back {
    color: #fff;
    transform: rotateY(180deg);
  }
  .card:hover .card__side--front {
    transform: rotateY(-180deg);
  }
  .card:hover .card__side--back {
    transform: rotate(0);
  }
  .img-binders {
    width: 191px;
    height: 339px;
  }
  .bigText {
    background: #000;
    width: 100%;
    padding: 5rem 2rem;
  }
  .bigText-border {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
  }
  .bigText-text {
    color: #fff;
    line-height: 150%;
    width: 100%}
  @media (min-width:200px) {
    .bigText-text {
    font-size: 2rem;
    text-align: center;
  }
  }@media (min-width:1200px) {
    .bigText-text {
    font-size: 32px;
    text-align: left;
    width: 40%}
  }.bigText-regular {
    color: #fff;
    line-height: 150%}
  @media (min-width:200px) {
    .bigText-regular {
    text-align: center;
  }
  }@media (min-width:1200px) {
    .bigText-regular {
    text-align: left;
  }
  }p {
    margin-right: 0;
  }
  .bigText-group {
    width: 100%}
  @media (min-width:1200px) {
    .bigText-group {
    width: 40%}
  }.bigText-shortWidth {
    position: relative;
    border: 4px solid #f90;
    padding: 2rem;
  }
  @media (min-width:200px) {
    .bigText-shortWidth {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  }@media (min-width:750px) {
    .bigText-shortWidth {
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 90%}
  }@media (min-width:1200px) {
    .bigText-shortWidth {
    flex-direction: row;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 64px;
    padding-left: 64px;
  }
  }.center-mobile__only {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1rem;
  }
  @media (min-width:1200px) {
    .center-mobile__only {
    display: inline-block;
  }
  }.nowrap {
    white-space: nowrap;
  }
  .unique {
    background: #000;
    padding: 2rem;
    width: 100%;
    justify-content: center;
  }
  .unique, .unique-imgWrapper {
    display: flex;
    align-items: center;
  }
  .unique-imgWrapper {
    flex-direction: center;
  }
  @media (min-width:200px) {
    .unique-imgWrapper {
    width: 100%;
    margin-bottom: 2rem;
  }
  }@media (min-width:1200px) {
    .unique-imgWrapper {
    width: 40%}
  }.unique-img {
    width: 100%}
  @media (min-width:1200px) {
    .unique-img {
    margin-top: -2rem;
  }
  }.unique-shortWidth {
    margin-bottom: 4rem;
    margin-top: 5rem;
    border: 4px solid #e22ffe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  @media (min-width:200px) {
    .unique-shortWidth {
    margin-top: 3rem;
    width: 100%}
  }@media (min-width:750px) {
    .unique-shortWidth {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 90%}
  }@media (min-width:1200px) {
    .unique-shortWidth {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 64px;
    padding-left: 64px;
  }
  }.unique-flex {
    display: flex;
    justify-content: space-around;
    width: 100%}
  @media (min-width:200px) {
    .unique-flex {
    padding: 2rem;
    flex-direction: column-reverse;
  }
  }@media (min-width:750px) {
    .unique-flex {
    flex-direction: row;
  }
  }@media (min-width:1200px) {
    .unique-flex {
    flex-direction: row;
  }
  }@media (min-width:200px) {
    .unique-group {
    width: 100%}
  }@media (min-width:1200px) {
    .unique-group {
    width: 40%}
  }.unique-text {
    color: #fff;
    line-height: 150%;
    margin-bottom: 2rem;
  }
  @media (min-width:200px) {
    .unique-text {
    text-align: center;
  }
  }@media (min-width:750px) {
    .unique-text {
    margin-right: 1rem;
  }
  }@media (min-width:1200px) {
    .unique-text {
    text-align: left;
  }
  }.poster {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/static/media/poster-bg.e47d43bc.png) no-repeat 50%;
    background-size: cover;
  }
  @media (min-width:750px) {
    .poster {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  }.poster-shortWidth {
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 85%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width:200px) {
    .poster-shortWidth {
    display: grid;
    grid-row-gap: 2rem;
    row-gap: 2rem;
    grid-template-rows: -webkit-min-content 1fr -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr min-content 1fr;
  }
  }@media (min-width:750px) {
    .poster-shortWidth {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 3rem;
    row-gap: 3rem;
  }
  }@media (min-width:1200px) {
    .poster-shortWidth {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
  }.poster-p {
    color: #fff;
    text-align: center;
  }
  .poster-imgWrapper__unity {
    width: 80%;
    height: 100%;
    background: url(/static/media/Unity.4c58ff89.png) no-repeat 50%;
    background-size: cover;
  }
  @media (min-width:750px) {
    .poster-imgWrapper__unity {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  }.unity-mobile-poster {
    width: 100%}
  @media (min-width:750px) {
    .unity-mobile-poster {
    display: none;
  }
  }.poster-group__unity {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding: 2rem;
    background: rgba(0, 0, 0, .3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 100%, .18);
  }
  @media (min-width:750px) {
    .poster-group__unity {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-rows: auto 1fr -webkit-min-content;
    grid-template-rows: auto 1fr min-content;
  }
  }.poster-group__leto {
    text-align: center;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background: rgba(0, 0, 0, .3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 100%, .18);
    justify-items: center;
    align-items: center;
  }
  @media (min-width:750px) {
    .poster-group__leto {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: auto 1fr -webkit-min-content;
    grid-template-rows: auto 1fr min-content;
  }
  }@media (min-width:750px) {
    .poster-imgWrapper__leto {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    background: url(/static/media/Leto.33a05919.png) no-repeat top;
    background-size: cover;
  }
  }@media (min-width:200px) {
    .gridPosition {
    grid-column-start: 1;
    grid-row-start: 4;
  }
  }@media (min-width:1200px) {
    .gridPosition {
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: start;
    align-self: flex-start;
  }
  }@media (min-width:200px) {
    .poster-position {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
  }
  }@media (min-width:1200px) {
    .poster-position {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  }p {
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
  }
  .poster-textGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .poster-textGroup:nth-child(2) {
    margin-top: 3rem;
  }
  @media (min-width:1200px) {
    .poster-textGroup {
    display: inline-block;
  }
  }.size-image {
    width: 100%}
  h6 {
    text-align: center;
    color: #fff;
  }
  .last-section {
    padding-top: 3rem;
    padding-bottom: 5rem;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background: #000;
  }
  .last-H1 {
    text-align: center;
  }
  .last-shortWidth {
    width: 85%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    border: 4px solid #00ffc2;
    padding: 2rem;
  }
  @media (min-width:1200px) {
    .last-shortWidth {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
  }.width {
    width: 100%}
  h1 {
    font-family: "Roboto";
    color: #fff;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  @media (min-width:200px) {
    h1 {
    font-size: 1.25rem;
  }
  }@media (min-width:750px) {
    h1 {
    font-size: 2rem;
  }
  }@media (min-width:1200px) {
    h1 {
    font-size: 2.5rem;
  }
  }.chart {
    width: 90%}
  @media (min-width:1200px) {
    .chart {
    width: 50%}
  }.last-group {
    display: flex;
  }
  @media (min-width:200px) {
    .last-group {
    width: 100%;
    flex-direction: column-reverse;
  }
  }@media (min-width:750px) {
    .last-group {
    flex-direction: row;
  }
  }.last-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (min-width:750px) {
    .last-text {
    width: 50%}
  }.img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  @media (min-width:200px) {
    .img-wrapper {
    margin-bottom: 1rem;
  }
  }@media (min-width:750px) {
    .img-wrapper {
    width: 50%}
  }@media (min-width:1200px) {
    .img-wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  }
  
  


/*# sourceMappingURL=main.1b33ca71.chunk.css.map */
